This is configuration file for client. Change the parameters as per your requirement.

The alias of the user
#Alias: AV494

The IP address of the system
#IP_ADDR: 10.8.36.30

The which will be used for transmitting the online packet
#UDP_Transmit_port: 6000

The port at which the online packets will be received
#UDP_Receive_port:  5000

The number of clients which can be listened for at any given instant of time.
#Listen_Conn_No: 10

The rate at which the O packet will be transmitted in ms
#O_Transmit_Rate: 11

The subnet mask
#Subnet_mask: 255.255.192.0

The length of duplicate packet list
#Duplicate_packet_list_len: 2

Online entry removal margin in milliseconds
#Removal_margin: 3000

The rate at which the tables will be checked in milliseconds
#Data_check_rate: 100

The rate at which the GUI will be updated in milliseconds
#GUI_update_rate: 250

The UDP transmit queue size
#UDP_transmit_queue_len: 50

The UDP transmit queue size
#UDP_receive_queue_len: 50