This is configuration file for client. Change the parameters as per your requirement.

The alias of the user
#Alias: AV294

The IP address of the system
#IP_ADDR: 10.8.36.30

The which will be used for transmitting the online packet
#UPD_Transmit_port: 6000

The port at which the online packets will be received
#UPD_Receive_port:  5000

The number of clients which can be listened for at any given instant of time.
#Listen_Conn_No: 10

The rate at which the O packet will be transmitted in ms
#O_Transmit_Rate: 3000

The broadcast address/subnet
#Broadcast_addr: 255.255.255.255

The length of duplicate packet list
#Duplicate_packet_list_len: 20

Online entry removal margin in milliseconds
#Removal_margin: 1000

The rate at which the tables will be checked in milliseconds
#Data_check_rate: 100

The rate at which the GUI will be updated in milliseconds
#GUI_update_rate: 100