This is configuration file for client. Change the parameters as per your requirement.

The alias of the user
#Alias: AV494

The IP address of the system
#IP_ADDR: 10.8.36.30

The which will be used for transmitting the online packet, should be same for all the nodes
#UDP_Transmit_port: 6000

The port at which the online packets will be received, should be same for all the nodes
#UDP_Receive_port:  5000

The port at which TCP will listen for connections, should be same for all the nodes
#TCP_Listen_port: 7000

The number of clients which can be listened for at any given instant of time.
#Listen_Conn_No: 10

The rate at which the O packet will be transmitted in ms
#O_Transmit_Rate: 1000

The subnet mask
#Subnet_mask: 255.255.192.0

The length of duplicate packet list
#Duplicate_packet_list_len: 2

Online entry removal margin in milliseconds
#Removal_margin: 3000

The rate at which the tables will be checked in milliseconds
#Onlines_check_rate: 100

The rate at which the request will be checked in milliseconds must be less than Request_TOL
#Requests_check_rate: 100

The rate at which the GUI will be updated in milliseconds
#GUI_update_rate: 250

The UDP transmit queue size
#UDP_transmit_queue_len: 50

The UDP receive queue size
#UDP_receive_queue_len: 50

The TCP transmit queue size
#TCP_transmit_queue_len: 50

The TCP receive queue size
#TCP_receive_queue_len: 50

The connection over which the response to a request to be sent. 0 - TCP or 1 - UDP
#Response_over_type: 1

The time to live for the requests in milliseconds
#Request_TOL: 5000

The relative/absolute path to public files directory:
#Pub_file_directory: pub_files/

The relative/absolute path to pri files directory:
#Pri_file_directory: pri_files/

The reception directory
#Rec_directory: rec_files/
